#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#interactive-panel {
  display: flex;
  flex-direction: row;
}

.overlay {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #00000059;
  z-index: 100;
  top: 0;
  left: 0;
}

.overlayPanel {
  display: flex;
  width: 40%;
  background-color: #fff;
  margin: 20% auto;
  border-radius: 10px;

}

#marketPlace .shapePanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;   /* important */
  width: 100%;
  padding: 10px;
}

/* ERRORS  */

.errorDisplay p {
  color: #b01515;
}


.bg-blue-100 .shapeBlock{
  background: #2170c4;
}

.shape {
  margin: 4px;
}

.shapeBlock {
  position: absolute;
  background: #333;
  border: 1px solid #999;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.btnGroup button {
  margin: 4px 6px;
}

/* SHAPESELECTOR STYLES  */

.shapeSelector {
  margin: 0 10px;
  padding: 6px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.shapeSelector .shape {
  margin: 10px 4px;
}

.btn-alt {
  background-color: #2170c4;
  color: #fff;
  transition: background 1s;
}

.btn-alt:hover {
  background-color: #318cee;
  transition: background 1s;
}

.btn-alt:disabled {
  background-color: #999;
}

.btn-alt:disabled:hover {
  border-color: #999;
}